#pane{
    -fx-background-color: yellow;
    -fx-font-family: "Comic Sans MS";
}

#topic{
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-font-size: 30px;
}

#content{
    -fx-font-size: 20px;
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.button{
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100%;
}

.button:hover{
    -fx-effect: dropshadow(gaussian, lightblue, 1, 1.0, 0, 0);
}

#deleteButton{
    -fx-background-image: url("/images/delete.png");
}

#editButton{
    -fx-background-image: url("/images/edit.png");
    -fx-background-size: 80%;
}

